.black-image{
     background-color: black;
}
.manager-block{
    background: #0a1931;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservoir-image-container{
    background: url('pic.jpg') center no-repeat; */
    background-size: cover;
    opacity: 0.6;
    height: 100vh; 
}

.postcode-image-container{
    background: url('../img/postcode/臺北市.jpg') center no-repeat; */
    background-size: cover;
    opacity: 0.6;
    height: 100vh; 
}
.live-image-container{
    background: url('../img/live.jpg') center no-repeat; */
    background-size: cover;
    opacity: 0.6;
    height: 100vh; 
}
.argi-image-container{
    background: url('../img/argi.jpg') center no-repeat; */
    background-size: cover;
    opacity: 0.6;
    height: 100vh; 
}
.fixed-button{
    position: relative;
    top: -10px;
    left: 145px;
}
.infinity-form .form-input input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: white;
    padding-left: 45px;
}
.manager-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
/* .manager-form .form-input {
    position: relative;
} */
@media only screen and (max-width: 900px){
 .fixed-button{
   position: relative;
   top: -50px;
   left: 1px;
}
}
